@import url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Handlee&display=swap);

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(images/descarga\ \(1\).gif);
}

.imagen img {
    width: 130px;
    margin-bottom: -220px;
    margin-left: 310px;
    border-radius: 80px;
    border-style: solid;
    border-color: #2b8790;
    padding: 2px;

}

header {
    background-color: #ffffffda;
    padding: 25px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 0px;
    margin-top: 40px;
    text-indent: 65%;
    font-family: 'Pacifico', handwriting;
    font-size: 150%;
    color: #2b8790;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

nav ul {
    background-color:#b6ebe3e4;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 0px;
    margin-top: 0px;
    
}

nav ul li {
    display: inline-block;
    padding: 20px;
    margin: 0px auto;
}

nav ul li a {
    color: #ffffff;
    background-color: #2b8790;
    padding: 6px;
    text-decoration: none;
    font-family: 'Handlee', handwriting;
    border-radius: 5px;
    transition: all 0.5s ease;
    
}

nav ul li a:hover {
    background-color: #ffffff;
    color: #2b8790;
    cursor: pointer;
}
nav ul li a:active,
nav ul li a:focus {
    background-color: #ffffff;
    color: #2b8790;
}

section {
    background-color: #ffffffda;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 0px;
    margin-bottom: 0px; 
    padding-bottom: 100px; 
}

section hr {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #757575bd;
}

.inicio h3 {

    color: #236c72;
    font-family: 'Pacifico', handwriting;
    font-size: 200%;
    padding: 15px;
    margin-left: 60px;
    margin-right: 60px;  
    margin-bottom: 25px;
    margin-top: 0px;
    
}

.inicio p {
    background-color: #ffffff;
    box-shadow: 4px 4px 4px 1px #b1b1b1e0;
    padding: 20px;
    margin-left: 60px;
    margin-right: 470px;
    margin-top: 20px;
    font-size: 130%;
    font-family: 'Handlee', handwriting;
}

.inicio img {
    float: right;
    width: 450px;
    margin-top: -70px;
}

.familia h3 {

    color: #236c72;
    font-family: 'Pacifico', handwriting;
    font-size: 200%;
    padding: 15px;
    margin-left: 60px;
    margin-right: 60px;  
    margin-bottom: 25px;
    margin-top: 0px;
    
}

.familia p {
    background-color: #ffffff;
    box-shadow: 4px 4px 4px 1px #b1b1b1e0;
    padding: 20px;
    margin-left: 60px;
    margin-right: 430px;
    margin-top: 20px;
    font-size: 130%;
    font-family: 'Handlee', handwriting;
}

.familia aside {
    margin-right: -390px;
    margin-left: 730px;
    margin-top: -145px;
    background-color: #ffffff00;
}

.familia img {
    float: right;
    width: 350px;
    padding: 2px;
    margin-right: 40px;
    margin-top: 1px;
    border-radius: 6px;
    border-style: solid;
    border-color: #2b8790;
    
}

.yo h3 {

    color: #236c72;
    font-family: 'Pacifico', handwriting;
    font-size: 200%;
    padding: 15px;
    margin-left: 100px;
    margin-right: 60px;  
    margin-bottom: 25px;
    margin-top: 0px;
    
}

.yo p {
    background-color: #ffffff;
    box-shadow: 4px 4px 4px 1px #b1b1b1e0;
    padding: 20px;
    margin-left: 100px;
    margin-right: 430px;
    margin-top: 20px;
    font-size: 130%;
    font-family: 'Handlee', handwriting;
}

.yo img {
    float: right;
    width: 300px;
    padding: 2px;
    margin-right: 60px;
    margin-top: 1px;
    border-radius: 6px;
    border-style: solid;
    border-color: #2b8790;
}

.yo aside {
    margin-right: -390px;
    margin-left: 730px;
    margin-top: -145px;
    background-color: #ffffff00;
}

.formulario header {
    background-color: #ffffffda;
    border-radius: 0px;
    margin-top: 0px;
    font-size: 140%;
    text-indent: 37%;
}

.formulario p {
    text-indent: 21%;
    font-family: 'Handlee', handwriting;
}

.form {
    background-color: #ffffffda;
    font-size: 130%;
    padding: 10px;
    padding-bottom: 80px;
    margin-left: 70px;
    margin-right: 70px;
    
}

.form input {
    padding: 10px;
    border-radius: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #236c72;
    width: 300px;
    font-size: 80%;
    font-family: 'Handlee', handwriting;
    border-style: solid;
    border-color: #236c72;
    margin-left: 415px;
}

.form label {
    margin-left: 415px;
    color: #236c72;
    font-family: 'Handlee', handwriting;
}

.btn {
    background-color: #ffffff;
    padding: 8px 15px 8px 15px;
    text-decoration: none;
    border-radius: 50px;
    border-style: solid;
    border-color: #236c72;
    border-width: 2px;
    color: #236c72;
    font-family: 'Pacifico', handwriting;
    margin-left: 415px;
    font-size: 80%;
    transition: 0.3s;
}

.btn:hover {
    background-color: #236c72;
    color: #ffffff;
    cursor: pointer;
}

.btn:active {
    background-color: #236c72;
    color: #ffffff;
    cursor: pointer;
}

.formulario2 header{
    background-color: #ffffffda;
    border-radius: 0px;
    margin-top: 0px;
    font-size: 140%;
    text-indent: 40%;
}

.formulario2 p {
    text-indent: 30%;
    font-family: 'Handlee', handwriting;
}

.form2 {
    background-color: #ffffffda;
    padding-bottom: 100px;
    margin-left: 70px;
    margin-right: 70px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 1px;
}

.form2 label {
    display: flex;
    align-items: center;
    gap: 1px;
    font-size: 130px;

}

.form2 label {
    color: #236c72;
    font-family: 'Handlee', handwriting;
    margin-left: 415px;
}

.radio {
    display: block;
}

.radio input[type="radio"] {
    display: none;
}

.radio span {
    font-size: 20px;
    display: inline-block;
    padding: 10px 20px;
    color: #236c72;
    cursor: pointer;
    transition:  0.3s;
}

.radio input[type="radio"]:checked + span {
    background-color: #236c72;
    border-radius: 50px;
    color: #ffffff;
}

.btn2 {
    background-color: #ffffff;
    padding: 8px 15px 8px 15px;
    text-decoration: none;
    border-radius: 50px;
    border-style: solid;
    border-color: #236c72;
    border-width: 2px;
    color: #236c72;
    font-family: 'Pacifico', handwriting;
    margin-left: 430px;
    font-size: 100%;
    transition: 0.3s;
}

.btn2:hover {
    background-color: #236c72;
    color: #ffffff;
    cursor: pointer;
}

.btn2:active {
    background-color: #236c72;
    color: #ffffff;
    cursor: pointer;
}

.p p {
    color:#236c72;
    font-size: 140%;
    margin-left: 370px;
    text-indent: 0%;
    font-family: 'Handlee', handwriting;
}

.form-2 {
    background-color: #ffffffda;
    padding-bottom: 100px;
    margin-left: 70px;
    margin-right: 70px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 1px;
}

.form-2 label {
    display: flex;
    align-items: center;
    gap: 1px;
}

.form-2 label {
    color: #236c72;
    font-family: 'Handlee', handwriting;
    margin-left: 415px;
}

.radio {
    display: block;
}

.radio input[type="radio"] {
    display: none;
}

.radio span {
    font-size: 20px;
    display: inline-block;
    padding: 10px 20px;
    color: #236c72;
    cursor: pointer;
    transition:  0.3s;
}

.radio input[type="radio"]:checked + span {
    background-color: #236c72;
    border-radius: 50px;
    color: #ffffff;
}


footer {
    background-color: #b6ebe3e4;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 0px;
    margin-bottom: 40px;
    padding: 10px;
    text-align: center;
    font-family: 'Handlee', handwriting;
    color: #236c72;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}